{% extends 'base.html' %}

{% block title %}{{ legend }}{% endblock %}

{% block content %}
<h1>{{ legend }}</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.cname.label }} {{ form.cname(class="form-control", readonly=(legend == 'Update Discovery')) }}
        {% if form.cname.errors %}
            <div class="text-danger">{{ form.cname.errors[0] }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.disease_code.label }} {{ form.disease_code(class="form-control", readonly=(legend == 'Update Discovery')) }}
        {% if form.disease_code.errors %}
            <div class="text-danger">{{ form.disease_code.errors[0] }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.first_enc_date.label }} {{ form.first_enc_date(class="form-control") }}
        {% if form.first_enc_date.errors %}
            <div class="text-danger">{{ form.first_enc_date.errors[0] }}</div>
        {% endif %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
