[Unit]
Description=Gunicorn instance to serve Health Info App
After=network.target

[Service]
User=myuser
Group=www-data
WorkingDirectory=/Users/macbookair/Desktop/NU/Third Year/Fall Semester/CSCI 341/project/health_info_webapp
ExecStart=/Users/macbookair/Desktop/NU/Third Year/Fall Semester/CSCI 341/project/venv/bin/gunicorn -w 4 -b 0.0.0.0:8000 run:app

[Install]
WantedBy=multi-user.target

