{% extends 'base.html' %}

{% block title %}{{ legend }}{% endblock %}

{% block content %}
<h1>{{ legend }}</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.surname.label }} {{ form.surname(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.salary.label }} {{ form.salary(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.phone.label }} {{ form.phone(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.cname.label }} {{ form.cname(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}