{% extends 'base.html' %}

{% block title %}Patients{% endblock %}

{% block content %}
<h1>Patients</h1>
<a href="{{ url_for('patients.new_patient') }}" class="btn btn-primary">Add New Patient</a>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.email }}</td>
            <td>
                <a href="{{ url_for('patients.update_patient', email=patient.email) }}" class="btn btn-info btn-sm">Update</a>
                <form action="{{ url_for('patients.delete_patient', email=patient.email) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this patient?');">Delete</button>
                </form>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}